@font-face {
  font-family: "Pixeboy";
  src: url("./assets/fonts/pixeboy/Pixeboy.eot");
  src: url("./assets/fonts/pixeboy/Pixeboy.woff2") format("woff2"),
      url("./assets/fonts/pixeboy/Pixeboy.woff") format("woff"),
      url("./assets/fonts/pixeboy/Pixeboy.ttf") format("truetype"),
      url("./assets/fonts/pixeboy/Pixeboy.svg#filename") format("svg");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pixeboy";
}

.container {
  margin: 0 50% 0 12.5%;
}

.btn {
  font-size: 48px;
  text-decoration: none;
  color: black;

  padding: 0 10px;
  margin: 10px 0;
  width: auto;

  border: 2px solid;
}

.btn:hover {
  margin: 8px 0 7.5px;
  border: 4px solid;
}
