@font-face {
  font-family: "Pixeboy";
  src: url("./fonts/pixeboy/Pixeboy.eot");
  src: url("./fonts/pixeboy/Pixeboy.woff2") format("woff2"),
      url("./fonts/pixeboy/Pixeboy.woff") format("woff"),
      url("./fonts/pixeboy/Pixeboy.ttf") format("truetype"),
      url("./fonts/pixeboy/Pixeboy.svg#filename") format("svg");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pixeboy";
}
