.page {
    height: 100vh;
    background-image: url("./images/back.svg");
    background-size: cover;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 275px 0 0;
}

.btn {
    width: auto;
    margin: 10px 0;
    padding: 0 10px;
    border: 2px solid;
  
    font-size: 48px;
    text-decoration: none;
    text-align: center;
    color: black;
  }
  
  .btn:hover {
    margin: 8px 0 7.5px;
    border: 4px solid;
  }

/* .btn {
    font-size: 48px;
    text-decoration: none;
    color: black;
  
    padding: 0 10px;
    margin: 10px 0;
    width: auto;
  
    background-image:
        linear-gradient(0, black, black), linear-gradient(0, black, black),
        linear-gradient(0, black, black), linear-gradient(0, black, black),
        linear-gradient(0, black, black), linear-gradient(0, black, black),
        linear-gradient(0, black, black), linear-gradient(0, black, black);
    background-repeat: no-repeat;
    background-position: 0 0, 0 0, 100% 100%, 100% 100%, 100% 0, 0 100%, 0 100%, 100% 0;
    background-size: 40px 2px, 2px 15px;
    transition: background-size .25s;
}
  
.btn:hover {
    background-size: 200px 2px, 2px 40px;
    transition: background-size .25s;
} */
